@model SitioWeb.Models.PlantasNodulan

@{
    ViewData["Title"] = "DetallesNodulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Detalles del hospedero</h4><hr />

    <div style="position: absolute; margin-left:530px; margin-top:40px">
        @if (Model != null && !String.IsNullOrEmpty(Model.FotoNodulo))
        {
            <img src="@Html.DisplayFor(model => model.TipoFoto), @Html.DisplayFor(model => model.FotoNodulo)" width="400" height="400" style="border: 2px solid #000000" alt="Foto">

        }
        else
        {
            <div class="col text-center">
                <img src="https://denac-public.s3.amazonaws.com/assets/img/catalog/thumbnails/accesorios/iluminacion/cuartos/nissan/00418081r.png" width="400" height="400" alt="Sin Foto">
            </div>
        }

    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNodulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNodulo)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">ID Planta</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDPlanta)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Individuo</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Indiv)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Hospedero</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCientificoPlanta)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Cantidad de Nodos</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadNodos)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Forma de nodo</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormaNodo)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Tipo de Nodo</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoNodo)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Tamaño de Nodo</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TamanoNodo)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Fecha</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Proyecto</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Permiso</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Permiso)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Filo</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiloBacteria)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Género</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeneroBacteria)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Rhizobio</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rhizobio)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Prueba Gram</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gram)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Secuencia</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secuencia)
        </dd>       
    </dl>

</div>

<br />

<hr />
<div class="boton text-center">
    <a asp-action="Listar" asp-controller="Plantas" class="btn btn-dark btn-sm">Regresar</a>
</div>




