@model SitioWeb.Models.PlantasTotalModel

@{
    ViewData["Title"] = "InfoPlanta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<h1 class="text-center" style="font-style:italic;"> @Html.DisplayFor(model => model.NombreCientifico) </h1>
<br />
<br />

<div class="card">
    <img src="https://live.staticflickr.com/2039/5769117093_fef3298314_b.jpg" class="card-img-top" width="350" height="640" style="border: 12px solid #31A34D" alt="">
</div>
<br />
<br />

<div style="text-align:center;">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Tipo de hoja</th>
                <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Morfología de hoja</th>
                <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Color de flor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-size:15px;">@Html.DisplayFor(model => model.TipoHojas)</td>
                <td style="font-size:15px;">@Html.DisplayFor(model => model.MorfoHojas)</td>
                <td style="font-size:15px;">@Html.DisplayFor(model => model.ColorFlor)</td>
            </tr>
    </table><br /><br />

    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i> Tipo de flor</th>
                <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i> Color de raíz</th>
                <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Nodulación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-size:15px;">@Html.DisplayFor(model => model.TipoFlor)</td>
                <td style="font-size:15px;">@Html.DisplayFor(model => model.ColorRaiz)</td>
                <td style="font-size:15px;">@Html.DisplayFor(model => model.Nodula)</td>
            </tr>
    </table><br />

</div>

<div>
    <!--Condicional para determinar si la planta nodula o no y mostrar la información de los nódulos-->
    @if (Model.Nodula == "Si")
    {
        <hr style="height:1px" color="#31A34D">
        <br />

        <h1 class="text-center"> Taxonomía de bacteria asociada </h1>
        <br />
        <br />

        <div style="text-align:center;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" style="font-size:20px;"><i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Filo</th>
                        <th scope="col" style="font-size:20px;"><i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Género</th>
                        <th scope="col" style="font-size:20px;"><i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Gram</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </table><br /><br />
        </div>
    }
</div>





