@model SitioWeb.Models.PlantasTotalModel

@{
    ViewData["Title"] = "InfoPlanta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .Title {
            color: #222323;
        }   
    </style>
</head>
<body>

    <br />
    <br />
    <h1 class="text-center" style="font-style:italic; font-weight:bold; font-size:50px"> @Html.DisplayFor(model => model.NombreCientifico) </h1>
    <br />

    @if (Model != null && !String.IsNullOrEmpty(Model.Imagen))
    {
        <div class="col text-center">
            <img src="@Html.DisplayFor(model => model.tipoImagen), @Html.DisplayFor(model => model.Imagen)" class="img-fluid img-thumbnail" width="450" height="450" style="border: 2px solid #161616" alt="Foto de hospedero">
        </div>
    }
    else
    {
        <div class="col text-center">
            <img src="https://denac-public.s3.amazonaws.com/assets/img/catalog/thumbnails/accesorios/iluminacion/cuartos/nissan/00418081r.png" class="img-fluid" width="400" height="400" alt="Sin Foto">
        </div>
    }


    <br />
    <br />


        <h2 class="Title text-center"> Características del hospedero </h2>  
        <p class="text-center" style="font-weight:bold"> (Plant features) </p> <hr />
        <br />

        <div class="text-center">
            <table class="table table-borderless ">
                <thead>
                    <tr>
                        <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Tipo de hoja <p class="text-center" style="font-weight:bold; font-size:12px"> (Leaf type) </p></th>
                        <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Morfología de la hoja <p class="text-center" style="font-weight:bold; font-size:12px"> (Leaf Morphology) </p></th>
                        <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Color de la flor <p class="text-center" style="font-weight:bold; font-size:12px"> (Flower color) </p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-size: 17px;">@Html.DisplayFor(model => model.TipoHojas)</td>
                        <td style="font-size: 17px;">@Html.DisplayFor(model => model.MorfoHojas)</td>
                        <td style="font-size: 17px;">@Html.DisplayFor(model => model.ColorFlor)</td>
                    </tr>

                <thead>
                    <tr>
                        <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i> Simetría de la flor <p class="text-center" style="font-weight:bold; font-size:12px"> (Flower symmetry) </p></th>
                        <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i> Color de la raíz <p class="text-center" style="font-weight:bold; font-size:12px"> (Root color) </p></th>
                        <th scope="col" style="font-size:20px;"> <i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Nodulación <p class="text-center" style="font-weight:bold; font-size:12px"> (Nodulation) </p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-size:17px;">@Html.DisplayFor(model => model.TipoFlor)</td>
                        <td style="font-size:17px;">@Html.DisplayFor(model => model.ColorRaiz)</td>
                        <td style="font-size:17px;">@Html.DisplayFor(model => model.Nodula)</td>
                    </tr>
            </table>
        </div>
        @if (Model.Nodula == "No")
        {
            <hr />
        }


        <div>
            <!--Condicional para determinar si la planta nodula o no y mostrar la información de los nódulos-->
            @if (Model.Nodula == "Si")
            {
                <hr style="height:1px" color="#31A34D">
                <br />

                <h2 class="text-center"> Taxonomía de simbiontes asociados </h2>
                <p class="text-center" style="font-weight:bold"> (Taxonomy of associated symbionts) </p> <hr />
                <br />

                <div style="text-align:center;">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size:20px;"><i class="bi bi-flower3" style="font-size: 1.8rem; color: forestgreen;"></i>Simbionte(s) <p class="text-center" style="font-weight:bold; font-size:12px"> (Symbiont) </p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-style: italic; font-size:17px">@Html.DisplayFor(model => model.Simbionte)</td>
                            </tr>
                    </table>
                </div>
            }
        </div> <hr />

        <div class="botones text-center">
            <a href="javascript:history.back()" class="btn btn-dark btn-sm"> <i class="bi bi-arrow-return-left"></i> Regresar </a>
        </div>

</body>
</html>







