@model List<PlantasNodulan>

@{
    ViewData["Title"] = "VerNodulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <h5 class="card-header text-center"> Lista de nodos de @ViewData["NombrePlanta"] </h5>
    <div class="card-body">
        <br /> 

        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID Nódulo</th>
                    <th scope="col" class="text-center">Filo</th>
                    <th scope="col" class="text-center">Género</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="text-center">@item.IdNodulo</td>
                        <td class="text-center"> @item.FiloBacteria </td>
                        <td class="text-center" style="font-style:italic">@item.GeneroBacteria</td>
                        <td class="text-center">
                            <a asp-action="EditarNodulo" asp-controller="Plantas" class="btn btn-light btn-sm" asp-route-IdNodulo="@item.IdNodulo"> <i class="bi bi-pencil-square"></i> Editar</a>
                            <a asp-action="DetallesNodulo" asp-controller="Plantas" class="btn btn-light btn-sm" asp-route-IdNodulo="@item.IdNodulo"> <i class="bi bi-eye-fill"></i> Detalles</a>
                            <a asp-action="EliminarNodulo" asp-controller="Plantas" class="btn btn-danger btn-sm" asp-route-IdNodulo="@item.IdNodulo"> <i class="bi bi-trash"></i> Eliminar</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

        <div class="botones text-center">
            <a href="javascript:history.back()" class="btn btn-dark btn-sm"> <i class="bi bi-arrow-return-left"></i> Regresar </a>
        </div>

    </div>
</div>